<style>


*{
	padding:0px;
	margin:0px;	
}

section{
	margin:50px auto;
	width:1025px;
	height:150px;	
}

.menu{
	width:100%;
	height:60px;
	background-color:#222;
	font-family:'Arial';	
}
.menu ul{
	list-style:none;
	position:relative;	
}
.menu ul li{
	width:150px;
	float:left;	
}
.menu a{
	padding:20px;
	display:block;
	text-decoration:none;
	text-align:center;
	background-color:#222;
	color:#fff;
}
.menu ul ul{
	position:absolute;
	visibility:hidden;	
}
.menu ul li:hover ul{
	visibility:visible;	
}
.menu a:hover{
	background-color:#f4f4f4;
	color:#555;	
}
.menu ul ul li{
	float:none;
	border-bottom:solid1px #ccc;	
}
.menu ul ul li a{
	background-color:#555;	
}
label[for="bt_menu"]{
	padding:5px;
	background-color:#222;
	color:#fff;
	font-family:"Arial";
	text-align:center;
	font-size:30px;
	cursor:pointer;
	width:50px;
	height:50px;	
}
	#bt_menu{
	display:none;	
	}
	label[for="bt_menu"]{
	display:none;	
	}
	
		body{
	background-attachment:fixed;
	background-size:100%;
	background-color: #FFFFF0;;
	margin:0;
	margin-left:0;
	margin-right:0;
	width:100%;
	background-repeat:no-repeat;
	background-size:cover;
	}
	

	.textoPesquisa{
	

	height:38px;
	margin-top:29px;
	margin-left:40px;
	float:left;
	font-size:30px;
	border-top:solid;
	border-bottom:solid;
	border-color:#FFF;
	width:100%;
	max-width:500px;
	



	
	}
	
.divPesquisa{
	

	margin-left:758px;
	margin-top:29px;
	cursor:pointer;
	border-top:solid;
	border-right:solid;
	border-bottom:solid;
	position:absolute;
	border-color:#FFF;
	width:100px;
	height:38px;


	}
		
.btnPesquisa{
	
	cursor:pointer;
	width:80px;
	height:30px;	
	margin-top:4px;
	margin-left:3px;
	
	}
	
.imgProduto{
	
	width:200px;
	height:200px;	
}

.btnCarrinho{
	
	font-size:20px;	
	width:240px;
	margin-left:-20px;
	
		
}

.btnCarrinho:hover{

	background-color:rgba(255,255,255,1);
	box-shadow:rgba(0,0,0,1) 4px 4px 4px;
	transition:1s;
	
}

.btnCompra{

	width:240px;
	font-size:20px;
	margin-left:-20px;
	margin-top:15px;
		
}

.txtBotao{

	text-align:center;	
	cursor:pointer;
	color:rgba(0,0,0,1);
	
}

.txtNome{

	color:black;
	margin-top:-15px;
	margin-bottom:-15px;	
	font-size:20px;
	text-align:center;
	font-weight:bold;
	height:50px;
	
}

.txtPreco{
	
	font-size:20px;
	margin-bottom:-20px;
	color:black;
	text-align:center;
		
}
	



#conteudo{
	width:100%;
	height:90px;

	
	}
.fixed{
	
		width:100%;
	height:90px;
	background-color:rgba(0,0,0,1);
	
	}
	
.logo{
	

	
	width:100%;
	max-width:200px;
	height:90px;
	margin-left:15px;
	float:left;
	
}
.imglogo{

	
		width:100%;
	max-width:200px;
	height:90px;
	
}
.imgLogin{
		

	
		width:100%;
	max-width:200px;
	height:90px;

	
}
	
.login{
	

	margin-left:150px;
	width:100%;
	max-width:200px;
	height:90px;
	float:left;

	

}


	.meio{
	width:100%;
	max-width:1250px;
	height:200%;
	background-color:#d2d2d2;
	border:solid 3px #000000;
	min-height:550px;
	text-align:right;
	margin-top:100px;
	margin-left:80px;
	


	

	

}
	.box-games{	
	width:100%;
	max-width:250px;
	height:100%;
	background-color:#28536B;
	border:solid 3px  #FFFFF0;
	padding:20px;
	color:white;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:18px;
	text-align:center;
	float:left;
	margin:5px;
	border-top-left-radius:20px;
	border-bottom-right-radius:20px;
	cursor:pointer;
	
}

	
	.imgCarrinho{
	
	max-width:50px;
	margin-top:15px;
	width: 100%;
	height:60px;
	

	
	}
	
		.Carrinho{
	
	width:100%;
	max-width:50px;
	height:90px;
	margin-left:70px;
	float:left;
	position:static;
	
	}	
		.ibagem
	{
		width:240px;
		height:200px;
		background-color:#fffff1;
		margin-left:5px;
		
	}
	
	
@media(max-width:1300px){
	

	.meio{
	width:100%;
	max-width:850px;
	height:100%;
	background-color:#d2d2d2;
	border:solid 3px #000000;
	min-height:550px;
	text-align:right;
	margin-top:100px;
	margin-left:80px;
	
	


	

	

}

	*{
	padding:0px;
	margin:0px;	
}

section{
	margin:50px auto;
	width:1025px;
	height:150px;	
}

.menu{
	width:100%;
	height:60px;
	background-color:#222;
	font-family:'Arial';	
}
.menu ul{
	list-style:none;
	position:relative;	
}
.menu ul li{
	width:150px;
	float:left;	
}
.menu a{
	padding:20px;
	display:block;
	text-decoration:none;
	text-align:center;
	background-color:#222;
	color:#fff;
}
.menu ul ul{
	position:absolute;
	visibility:hidden;	
}
.menu ul li:hover ul{
	visibility:visible;	
}
.menu a:hover{
	background-color:#f4f4f4;
	color:#555;	
}
.menu ul ul li{
	float:none;
	border-bottom:solid1px #ccc;	
}
.menu ul ul li a{
	background-color:#555;	
}
label[for="bt_menu"]{
	padding:5px;
	background-color:#222;
	color:#fff;
	font-family:"Arial";
	text-align:center;
	font-size:30px;
	cursor:pointer;
	width:50px;
	height:50px;	
}
	#bt_menu{
	display:none;	
	}
	label[for="bt_menu"]{
	display:none;	
	}
	

#conteudo{
	width:100%;
	height:90px;

	
	}
.fixed{
	
		width:100%;
	height:90px;
	background-color:rgba(0,0,0,1);
	
	}
	
		.textoPesquisa{
	

	height:38px;
	margin-top:29px;
	margin-left:40px;
	float:left;
	font-size:30px;
	border-top:solid;
	border-bottom:solid;
	border-color:#FFF;
	width:100%;
	max-width:300px;
	



	
	}
	
.divPesquisa{
	

	margin-left:558px;
	margin-top:29px;
	cursor:pointer;
	border-top:solid;
	border-right:solid;
	border-bottom:solid;
	position:absolute;
	border-color:#FFF;
	width:100%;
	max-width:50px;
	height:38px;


	}
		
.btnPesquisa{
	

	
		width:100%;
	max-width:45px;
	height:30px;	
	margin-top:4px;
	margin-left:3px;
	
	}
			.imgLogin{
		

	
		width:100%;
	max-width:200px;
	height:90px;

	
	}
	
		.login{
	

		margin-left:80px;

		width:100%;
	max-width:200px;
	height:90px;
	float:left;

	

	}
	
		.imgCarrinho{
	
	max-width:50px;
	margin-top:15px;
	width: 100%;
	height:60px;
	

	
	}
	
		.Carrinho{
	
	width:100%;
	max-width:50px;
	height:90px;
	margin-left:30px;
	float:left;
	position:static;
	
	}	
	
	

	
/* CSS Document */



}
@media(max-width:930px){
	
	.meio{
		width:100%;
	max-width:450px;
	height:100%;
	background-color:#d2d2d2;
	border:solid 3px #000000;
	min-height:550px;
	text-align:right;
	margin-top:100px;
	margin-left:80px;
	


	

	

}
	
label[for="bt_menu"]{
		display:block;	
	}
	#bt_menu:checked ~.menu{
		margin-left:0;
	}
	.menu{
		margin-top:5px;
		margin-left: -100%;
		transition:all .4s;	
	}
	.menu ul li{
		width:100%;
		float:none;	
	}
	.menu ul ul{
		position:static;
		overflow:hidden;
		max-height:0;
		transition:all .4s;	
	}
	.menu ul li:hover ul{
		height:auto;
		max-height:200px;
		
	}
	
	.fixed{
	
		width:100%;
	height:200px;
	background-color:rgba(0,0,0,1);
	
	}
	#conteudo{
	width:100%;
	height:200px;

	
	}
		.textoPesquisa{
	

	height:38px;
	margin-top:120px;
	margin-left:-150px;
	float:left;
	font-size:30px;
	border-top:solid;
	border-bottom:solid;
	border-color:#FFF;
	width:100%;
	max-width:400px;
		



	
	}
	
.divPesquisa{
	

	margin-left:468px;
	margin-top:120px;
	cursor:pointer;
	border-top:solid;
	border-right:solid;
	border-bottom:solid;
	position:absolute;
	border-color:#FFF;
	width:100%;
	max-width:50px;
	height:38px;


	}
		
.btnPesquisa{
	

	
		width:100%;
	max-width:45px;
	height:30px;	
	margin-top:4px;
	margin-left:3px;
	
	}
		.imgLogin{
		

	
		width:100%;
	max-width:200px;
	height:90px;
	margin-left:100px;

	
	}
	
		.login{
	

	
		width:100%;
		margin-top:-150px;
	max-width:200px;
	height:90px;
	margin-left:180px;
	float:left;

	

	}
	
		.imgCarrinho{
	
	max-width:50px;
	margin-top:15px;
	width: 100%;
	height:60px;
	

	
	}
	
		.Carrinho{
	
	width:100%;
	max-width:50px;
			margin-top:-150px;

	height:90px;
	margin-left:480px;
	float:left;
	
	}
	
		.logo{
	

	
		width:100%;
	max-width:200px;
	height:90px;
	float:left;
	
	}
	
	
.imglogo{

	
		width:100%;
	max-width:200px;
	height:90px;
	margin-left:50px;
	
	}
		






}

@media(max-width:530px){
		.meio{
		width:100%;
	max-width:310px;
	height:100%;
	background-color:#d2d2d2;
	border:solid 3px #000000;
	min-height:550px;
	text-align:right;
	margin-top:100px;
	margin-left:30px;
	


	

	

}
	
	
label[for="bt_menu"]{
		display:block;	
	}
	#bt_menu:checked ~.menu{
		margin-left:0;
	}
	.menu{
		margin-top:5px;
		margin-left: -100%;
		transition:all .4s;	
	}
	.menu ul li{
		width:100%;
		float:none;	
	}
	.menu ul ul{
		position:static;
		overflow:hidden;
		max-height:0;
		transition:all .4s;	
	}
	.menu ul li:hover ul{
		height:auto;
		max-height:200px;
		
	}
	
	.fixed{
	
		width:100%;
	height:250px;
	background-color:rgba(0,0,0,1);
	
	}
	#conteudo{
	width:100%;
	height:200px;

	
	}
		.textoPesquisa{
	

	height:38px;
	margin-top:120px;
	margin-left:-200px;
	float:left;
	font-size:30px;
	border-top:solid;
	border-bottom:solid;
	border-color:#FFF;
	width:100%;
	max-width:240px;
		



	
	}

.divPesquisa{
	

	margin-left:258px;
	margin-top:120px;
	cursor:pointer;
	border-top:solid;
	border-right:solid;
	border-bottom:solid;
	position:absolute;
	border-color:#FFF;
	width:100%;
	max-width:50px;
	height:38px;


	}
		

		.imgLogin{
		

	
		width:100%;
	max-width:200px;
	height:90px;
	margin-left:100px;

	
	}
	
		.login{
	

	
		width:100%;
		margin-top:-150px;
	max-width:170px;
	height:90px;
	margin-left:47px;
	float:left;

	

	}
	
		.imgCarrinho{
	
	max-width:50px;
	margin-top:15px;
	width: 100%;
	height:60px;
	

	
	}
	
		.Carrinho{
	
	width:100%;
	max-width:50px;
	margin-top:-150px;
	position:relative;
	height:90px;
	margin-left:300px;
	float:left;
	
	}
	
		.logo{
	

	
		width:100%;
	max-width:200px;
	height:90px;
	float:left;
	
	}

.imglogo{

	
		width:100%;
	max-width:130px;
	height:90px;
	margin-left:0px;
	
	}



}





      /* estilos */



</style>